.logo {
  max-width: 40px;
  cursor: pointer;
  margin-right: auto;
  }
  
.red {
  color: rgb(237, 74, 74);
  text-shadow: 0 0 0.35em currentColor;
}

.blue {
  color: rgb(87, 201, 229);
  text-shadow: 0 0 0.25em currentColor;
}

.green {
  color: rgb(44, 192, 157);
  text-shadow: 0 0 0.25em currentColor;
}

.white {
  color: rgb(214, 214, 214);
  text-shadow: 0 0 0.15em currentColor;
}

.icon {
  max-width: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 40px rgba(147, 129, 255, 0.54);
}

  body {
    background: hsl(224, 32%, 12%);
    background-image: conic-gradient(
      from 180deg at 50% 30%,
      blue,
      purple,
      purple,
      blue
    );
    background-blend-mode: multiply;
    min-block-size: 100dvh;
    display: grid;
    place-items: center;
  }

  .heading {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(237, 74, 74);
    text-shadow: 0 0 0.35em currentColor;;
    text-align: center;
  }

  .text {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
  }

  @keyframes fade {
    0%  {opacity: 0; scale: 90%;}
    100% {opacity: 100; scale: 100%;}
  }

  p {
    margin: auto;
    padding-left: 20%;
    padding-right: 20%;
    max-width: 550px;
    animation-name: fade;
    animation-duration: 2s;
  }

  div {
    background: hsl(222, 45%, 7%);
    padding: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
  
    position: relative;
  
    transform-style: preserve-3d;
    transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));

    transition: scale 0.5s;
  }

  div:hover {
    scale: 110%;
  }
  
  div::before,
  div::after {
    content: "";
    position: absolute;
    border-radius: inherit;
  }
  
  /* shadow */
  div::before {
    inset: 0.75rem;
    border-radius: inherit;
    background: black;
    z-index: -1;
    transform: translateZ(-50px);
    filter: blur(15px);
    opacity: 0.5;
  }
  
  /* gradient thingy */
  div::after {
    z-index: -2;
    inset: -0.5rem;
    background: linear-gradient(-45deg, rgba(158, 113, 254, 0.3), rgba(107, 127, 255, 0.3));
    transform: translateZ(-20px);
    filter: blur(10px);
  }
  
  .div-container {
    position: relative;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  }

  .card {
    background: hsl(222, 45%, 7%);
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    border: 0.25rem;
    color: rgb(237, 74, 74);
    text-shadow: 0 0 0.35em currentColor;
  }
  
  /* extras for CSS only
  
  .css-only pre {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    transition: transform 200ms ease-in-out;
  }
  
  .pre-container.css-only > div {
    z-index: 10;
    position: absolute;
    outline: 1px solid lime;
  }
  
  .pre-container.css-only > div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    inset: 0;
  }
  
  .pre-container.css-only > div:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    inset: 0;
  }
  
  .pre-container.css-only > div:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    inset: 0;
  }
  
  .pre-container.css-only > div:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    inset: 0;
  }
  
  .pre-container.css-only > div:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    inset: 0;
  }
  
  .pre-container.css-only > div:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    inset: 0;
  }
  
  .pre-container.css-only > div:nth-child(7) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    inset: 0;
  }
  
  .pre-container.css-only > div:nth-child(8) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    inset: 0;
  }
  
  .pre-container.css-only > div:nth-child(9) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    inset: 0;
  }
  
  .pre-container.css-only > div:nth-child(1):hover ~ pre {
    --rotateX: -25deg;
    --rotateY: 25deg;
  }
  
  .pre-container.css-only > div:nth-child(2):hover ~ pre {
    --rotateX: 0deg;
    --rotateY: 25deg;
  }
  
  .pre-container.css-only > div:nth-child(3):hover ~ pre {
    --rotateX: 25deg;
    --rotateY: 25deg;
  }
  
  .pre-container.css-only > div:nth-child(4):hover ~ pre {
    --rotateX: -25deg;
    --rotateY: 0deg;
  }
  
  .pre-container.css-only > div:nth-child(5):hover ~ pre {
    --rotateX: 0deg;
    --rotateY: 0deg;
  }
  
  .pre-container.css-only > div:nth-child(6):hover ~ pre {
    --rotateX: 25deg;
    --rotateY: 0deg;
  }
  
  .pre-container.css-only > div:nth-child(7):hover ~ pre {
    --rotateX: -25deg;
    --rotateY: -25deg;
  }
  
  .pre-container.css-only > div:nth-child(8):hover ~ pre {
    --rotateX: 0deg;
    --rotateY: -25deg;
  }
  
  .pre-container.css-only > div:nth-child(9):hover ~ pre {
    --rotateX: 25deg;
    --rotateY: -25deg;
  }
  
  .yt {
    position: fixed;
    bottom: 1.5rem;
    color: #bcbcbc;
  }